nav {
  .nav-link {
    color: #12486b !important;
    font-size: 20px;
  }

  li {
    padding: 0 0 0 3px;
  }
}

.container-fluid {
  background-color: #78d6c6;

  h2 {
    font-size: 36px;
  }
}

.title-navbar {
  color: white !important;
}
