$warna-text: #1aacac;
$warna-text1: #ff6ac2;

$warna-btn: (
  "dark": #5cd2e6,
  "dark-1": #2e4374,
);

$jenis-font: (
  "font1": "Onest",
  "font2": "Gabarito",
);

$ukuran-font1: (
  "small": 14px,
  "medium": 28px,
  "large": 36px,
);

$first-width: 5px;
$second-width: 5px;
$font-navbar: "Dela Gothic One", cursive;
$warna-font: blue;
$ukuran-font: 16px;
$bg-card-product: #9eddff;
$bg-card: #b5cb99;

$colors: pink, blueviolet, greenyellow;

$types: (
  "warna1": #9eddff,
  "warna2": #4b527e,
  "warna3": #ff6969,
  "warna4": #419197,
  "warna5": #e9b824,
  "warna6": #d80032,
);

$fonts: "title" #3d0c11 40px, "subtitle" #7d7c7c 20px, "content" black 16px;
